[submodule "zsh/plugins/zsh-autosuggestions"]
    path = zsh/plugins/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/themes/powerlevel10k"]
    path = zsh/themes/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/autojump"]
    path = zsh/plugins/autojump
    url = https://github.com/wting/autojump.git
    ignore = dirty
